:root{
    --end-rotate: 720deg;
}
.body {
    background: #f0f0f0; 
    font-family: "Times New Roman", times, serif;
   }
h1{
    font-size: 50px;
    text-align: center;
    color: rgb(136, 132, 132);
    text-shadow: 1px 1px #000;
}
img{
    width: 75px;
    height: 37.5px;
    position: absolute;
    left: 0;
}
.box {
    position: absolute;
    width: 300px;
    height: 125px;
    border-radius: 10px;
    border: solid black;
    font-size: 45px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: center;
    box-shadow: 0.2em 0.2em 10px rgba(87, 87, 87, 0.5);
   }
.score {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 60px;
    border-radius: 2px;
    background-color: #f0f0f0;
}
.field {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center; 
    width: 650px;
    height: 650px;
    border-radius: 100%;
    border: solid 5px #852431;
    background-color: indianred;
    z-index: 10;
}
.arrow {
    position: absolute;
    width: 50%;
    height:1.5%; 
    border-bottom-right-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-left-radius: 10%; 
    border-top-left-radius: 10%;
    background-color: black; 
    margin-left: 320px;
    margin-top: 325px;
    transform-origin: 4px 2px;
    transform: rotate(-90deg);
    z-index: 11;
}
.anim {
    animation: size 5s cubic-bezier(0.5, 0, 0, 1) 0s 1 alternate both;
}

@keyframes size{
    100% {
       transform: rotate(var(--end-rotate));
    }
}